.scrollbar {
    scrollbar-width: thin;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.scrollbar::-webkit-scrollbar {
    width: 0;
}

.scrollbar:hover::-webkit-scrollbar {
    width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgb(5 17 57);
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #2196f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
    -moz-transform: translateX(28px);
    -o-transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark .fc-daygrid-day-number {
    color: white !important;
}
.dark .fc-col-header-cell-cushion {
    color: white !important;
}
.tippy-box[data-theme~='CUSTOM'] {
    background-color: rgb(0, 183, 255);
    color: rgb(255, 255, 255);
}
.tippy-box[data-theme~='CUSTOM'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: rgb(0, 183, 255);
  }
  .tippy-box[data-theme~='CUSTOM'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: rgb(0, 183, 255);
  }
  .tippy-box[data-theme~='CUSTOM'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: rgb(0, 183, 255);
  }
  .tippy-box[data-theme~='CUSTOM'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: rgb(0, 183, 255);
  }
